<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:annotation-config />
 	<context:component-scan base-package="xmlParser" />
 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:hibernateProps.properties</value>
				<value>classpath:databaseProps.properties</value>
				<value>classpath:xmlfileProps.properties</value>
			</list>
		</property>
	</bean>
  
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="${driverClassName.props}"></property>  
        <property name="url" value="${url.props}"></property>  
        <property name="username" value="${username.props}"></property>  
        <property name="password" value="${password.props}"></property>  
    </bean>  
      
    <bean id="sessionFactory"  class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource"></property>  
		<property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <property name="configurationClass">
            <value>org.hibernate.cfg.AnnotationConfiguration</value>
        </property>  
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">${hibernate.dialect.props}</prop>  
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto.props}</prop>  
                <prop key="hibernate.show_sql">${hibernate.show_sql.props}</prop>  
            </props>  
        </property>  
     </bean> 
     
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">  
    	<property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>     
      
    <tx:annotation-driven />
   	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
       	<property name="sessionFactory" ref="sessionFactory"></property>
   	</bean>
    
</beans>  